/* NAV */
@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 90deg;
}

@property --l {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%;
}

@property --c {
  syntax: '<color>';
  inherits: false;
  initial-value: red;
}

@property --b {
  syntax: '<percentage>';
  inherits: false;
  initial-value: 0%;
}

.nav {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 50px;
}

.nav > button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--nc-tx-2);
  cursor: pointer;
}

.overlay::after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  inset: 0;
}

.hideOverlay .overlay {
  --a: 80deg;
  --l: 10%;
  --c: red;
  --b: 0%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  max-height: 0;
  opacity: 0;
  /* background-image: linear-gradient(
    var(--a),
    var(--c) var(--l),
    blue,
    var(--c) calc(100% - var(--l))
  ); */

  /* -webkit-mask-image: linear-gradient(to top, transparent, black var(--b));
  mask-image: linear-gradient(to top, transparent, black var(--b)); */
  /* transition: --b 1s, --a 2.5s 0.5s, --l 2.5s, --c 4s, linear max-height 1s; */
  transition: linear max-height var(--time), linear opacity var(--time);
}

.overlay {
  --a: 360deg;
  --l: 40%;
  --c: green;
  --b: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  max-height: 100svh;
  max-height: 100vh;
  height: 100svh;
  height: 100vh;
  opacity: 1;
  background-color: var(--nc-bg-2);
  /* background-image: linear-gradient(
    var(--a),
    var(--c) var(--l),
    blue,
    var(--c) calc(100% - var(--l))
  ); */
  /* -webkit-mask-image: linear-gradient(to top, transparent, black var(--b));
  mask-image: linear-gradient(to top, transparent, black var(--b)); */
  /* transition: --b 1s, --a 5s 1s, --l 5s, --c 8s, linear max-height 1s; */
  /* transition: --b 1s, --a 2.5s 0.5s, --l 2.5s, --c 4s, linear max-height 1s; */
  transition: linear max-height var(--time), linear opacity var(--time);
}

.overlay a {
  color: var(--white);
}

.hideOverlay .overlay {
}

.overlay li a {
  text-decoration: none;
  background-color: var(--nc-tx-2);
  border: none;
}

.overlay {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.overlay::-webkit-scrollbar {
  width: 0px;
}

.innerOverlay {
  position: relative;
  height: 100%;
  width: 100%;
}

.overlay ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  background-color: var(--nc-bg-2);
  position: relative;
  height: 100%;
}

.overlay ul li {
  margin: 0;
  padding: 0;
}

.overlay ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 25vh;
  margin-bottom: 0;
  padding: 0 max(10vw, 2rem);
  font-weight: 700;
  font-size: clamp(1rem, 10vw, 2rem);
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--nc-bg-2);
}

.overlay ul li a::after {
  display: none;
  content: '';
}

.overlay ul li:hover {
  opacity: 1;
}

.overlay ul li a:hover {
  background-color: var(--tx-opacity-0-75);
}

.overlay button {
  position: absolute;
  top: 20px;
  left: 40px;
  z-index: 9999;
  padding: 10px;
  font-weight: bolder;
  font-size: 2rem;
  background-color: var(--nc-tx-2);
  cursor: pointer;
}

.overlay button.close {
  position: fixed;
  top: 0;
  right: 0;
  left: inherit;
  z-index: 9999;
  padding: 0.2em 0.5em;
  color: var(--nc-tx-2);
  font-weight: bolder;
  font-size: 2rem;
  background-color: var(--nc-bg-1);
  cursor: pointer;
  height: fit-content;
}

.overlay button.close:hover {
  color: var(--white);
  background-color: var(--nc-ac-tx);
}

.overlay button:hover,
.overlay button:active {
  color: var(--white);
  background-color: var(--nc-tx-2);
}
