:root {
  --nc-tx-2: #222222;
  --tx-opacity-0-5: rgba(34, 34, 34, 0.5);
  --tx-opacity-0-75: rgba(34, 34, 34, 0.75);
  --tx-opacity-1-00: rgba(34, 34, 34, 1);
  --white: #ffffff;
}

:root {
  --fontSize: clamp(1rem, 5vw, 1.5rem);
  /*--emsAcrossViewport: 80;
  --fontSize: calc(100vw / var(--emsAcrossViewport));*/

  --lineHeight: calc(var(--fontSize) * 1.5);

  --spacing: clamp(1.25rem, , 5vw, 2rem);
  --spacingv: calc(var(--lineHeight) / 2);

  --columnGap: 2rem;

  --nc-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --nc-font-heading: 'Didot', 'Inter', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --nc-font-serif: 'Noto Serif Display', 'Inter', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  --nc-font-mono: Consolas, monaco, 'Ubuntu Mono', 'Liberation Mono',
    'Courier New', Courier, monospace;

  /* Light theme */
  --nc-tx-1: #222222;
  --nc-tx-2: #1a1a1a;
  --nc-bg-1: #ffffff;
  --nc-bg-2: #f6f8fa;
  --nc-bg-3: #e5e7eb;
  --nc-lk-1: #000000;
  --nc-lk-2: #333;
  --nc-lk-tx: #ffffff;
  --nc-ac-1: #79ffe1;
  --nc-ac-tx: #0c4047;
}

.dark {
  --nc-tx-1: #e5e7eb;
  --nc-tx-2: #f6f8fa;
  --nc-bg-1: #222;
  --nc-bg-2: #1a1a1a;
  --nc-bg-3: #222222;
  --nc-lk-1: #e5e7eb;
  --nc-lk-2: #ffffff;
  --nc-lk-tx: #ffffff;
  --nc-ac-1: #79ffe1;
  --nc-ac-tx: #0c4047;
  /* --tx-opacity-0-5: rgba(238, 238, 238, 0.5);
  --tx-opacity-0-75: rgba(238, 238, 238, 0.75);
  --tx-opacity-1-00: rgba(238, 238, 238, 1); */
  --white: #e5e7eb;

  --time: 0.125s;
}

body {
  background-color: var(--nc-bg-1);
}

* {
  /* Reset margins and padding */
  margin: 0;
  padding: 0;
}

address,
area,
article,
aside,
audio,
blockquote,
datalist,
details,
dl,
fieldset,
figure,
form,
input,
iframe,
img,
meter,
nav,
ol,
optgroup,
option,
output,
p,
pre,
progress,
ruby,
section,
table,
textarea,
ul,
video {
  /* Margins for most elements */
  margin-bottom: 1rem;
}

html,
input,
textarea,
select,
button {
  /* Set body font family and some finicky elements */
  font-family: var(--nc-font-sans);
}

main {
  /* Center body in page */
  padding: 0 2rem;
  overflow-x: hidden;

  /* Main body text */
  color: var(--nc-tx-2);
  font-size: var(--fontSize);
  line-height: 1.5;
  word-break: break-word;
  overflow-wrap: break-word;
}

body {
  color: var(--nc-tx-2);

  font-weight: 400;

  font-size: var(--fontSize);
  line-height: var(--lineHeight);

  letter-spacing: -0.004em;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-font-kerning: normal;
  -ms-font-kerning: normal;
  -moz-font-kerning: normal;
  -o-font-kerning: normal;

  font-kerning: normal;
  -webkit-font-variant-ligatures: contextual common-ligatures;
  -ms-font-variant-ligatures: contextual common-ligatures;
  -moz-font-variant-ligatures: contextual common-ligatures;
  -o-font-variant-ligatures: contextual common-ligatures;

  font-variant-ligatures: contextual common-ligatures;

  /* required to work around letter-spacing bug in Chrome: */
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1;
}

p,
pre {
  margin-bottom: var(--lineHeight);
}

::selection {
  color: var(--nc-ac-tx);
  /* Set background color for selected text */
  background: var(--nc-ac-1);
}

h1,
.h1 {
  margin-left: calc(3rem / -20);
  font-weight: 700;
  font-size: calc(var(--fontSize) * 2);
  line-height: calc(var(--fontSize) * 2.1);
  letter-spacing: -0.07em;
}

h1 {
  margin-top: min(calc((var(--spacingv) * 7.5)), 100px);
  margin-bottom: calc(var(--spacingv) * 2);
}

h2,
.h2 {
  font-weight: 700;
  font-size: calc(var(--fontSize) * 2.5);
  line-height: calc(var(--spacingv) * 3);
  letter-spacing: -0.03em;
}

h2 {
  margin-bottom: calc(var(--spacingv) * 2);
}

h3,
.h3 {
  font-weight: 700;
  font-weight: 650;
  font-size: calc(var(--fontSize) * 2);
  line-height: calc(var(--spacingv) * 3);
  letter-spacing: -0.018em;
}

h3 {
  margin-bottom: calc(var(--spacingv) * 2);
}

h4,
.h4 {
  font-weight: 650;
  font-size: calc(var(--fontSize) * 1.5);
  line-height: calc(var(--spacingv) * 2.5);
  letter-spacing: -0.018em;
}

h4 {
  margin-bottom: calc(var(--spacingv) * 1);
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
.h1 > a,
.h2 > a,
.h3 > a,
.h4 > a {
  display: block;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-weight: 640;
  letter-spacing: -0.015em;
}

h4,
h5,
h6 {
  margin-bottom: calc(var(--spacingv) * 1);
}

* + h1 {
  margin-top: calc(var(--spacingv) * 6);
}

* + h2 {
  margin-top: calc(var(--spacingv) * 4);
}

* + h3 {
  margin-top: calc(var(--spacingv) * 3);
}

* + h4 {
  margin-top: calc(var(--spacingv) * 2);
}

a {
  position: relative;
  z-index: 1;
  color: var(--nc-lk-2);
}

a:hover {
  color: var(--nc-lk-1);
}

abbr:hover {
  /* Set the '?' cursor while hovering an abbreviation */
  cursor: help;
}

blockquote {
  padding: 1.5rem;
  background: var(--nc-bg-2);
  border-left: 5px solid var(--nc-bg-3);
}

abbr {
  cursor: help;
}

blockquote *:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

header h1,
header h2,
header h3 {
  padding-bottom: 0;
  border-bottom: 0;
}

header > *:first-child {
  margin-top: 0;
  padding-top: 0;
}

header > *:last-child {
  margin-bottom: 0;
}

a button,
button,
input[type='submit'],
input[type='reset'],
input[type='button'] {
  display: inline-block;
  box-sizing: border-box;
  padding: 6px 12px;
  color: var(--nc-lk-tx);
  color: var(--nc-lk-tx);
  font-size: 1rem;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  background: var(--nc-lk-1);
  border: 0;
  cursor: pointer;
}

a button[disabled],
button[disabled],
input[type='submit'][disabled],
input[type='reset'][disabled],
input[type='button'][disabled] {
  cursor: default;

  /* Set the [X] cursor while hovering a disabled link */
  cursor: not-allowed;
  opacity: 0.5;
}

.button:focus,
.button:enabled:hover,
button:focus,
button:enabled:hover,
input[type='submit']:focus,
input[type='submit']:enabled:hover,
input[type='reset']:focus,
input[type='reset']:enabled:hover,
input[type='button']:focus,
input[type='button']:enabled:hover {
  background: var(--nc-lk-2);
}

code,
pre,
kbd,
samp {
  /* Set the font family for monospaced elements */
  font-family: var(--nc-font-mono);
}

code,
samp,
kbd,
pre {
  padding: 3px 6px;
  /* ↓ font-size is relative to containing element, so it scales for titles*/
  font-size: 0.9em;
  /* The main preformatted style. This is changed slightly across different cases. */
  background: var(--nc-bg-2);
  border: 1px solid var(--nc-bg-3);
}

kbd {
  /* Makes the kbd element look like a keyboard key */
  border-bottom: 3px solid var(--nc-bg-3);
}

pre {
  max-width: 100%;
  padding: 1rem 1.4rem;
  overflow: auto;
}

pre code {
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  /* When <code> is in a <pre>, reset it's formatting to blend in */
  background: inherit;
  border: 0;
}

code pre {
  /* When <pre> is in a <code>, reset it's formatting to blend in */
  display: inline;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  background: inherit;
  border: 0;
}

details {
  /* Make the <details> look more "clickable" */
  padding: 0.6rem 1rem;
  background: var(--nc-bg-2);
  border: 1px solid var(--nc-bg-3);
}

summary {
  font-weight: bold;
  /* Makes the <summary> look more like a "clickable" link with the pointer cursor */
  cursor: pointer;
}

details[open] {
  /* Adjust the <details> padding while open */
  padding-bottom: 0.75rem;
}

details[open] summary {
  /* Adjust the <details> padding while open */
  margin-bottom: 6px;
}

details[open] > *:last-child {
  /* Resets the bottom margin of the last element in the <details> while <details> is opened. This prevents double margins/paddings. */
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd::before {
  /* Add an arrow to data table definitions */
  content: '→ ';
}

hr {
  margin: 1rem auto;
  /* Reset the border of the <hr> separator, then set a better line */
  border: 0;
  border-bottom: 1px solid var(--nc-bg-3);
}

fieldset {
  margin-top: 1rem;
  padding: 2rem 0;
  border: none;
}

legend {
  padding: auto 0.5rem;
}

table {
  width: 100%;
  /* border-collapse sets the table's elements to share borders, rather than floating as separate "boxes". */
  border-collapse: collapse;
}

td,
th {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid var(--nc-bg-3);
}

th {
  background: var(--nc-bg-2);
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background: var(--nc-bg-2);
}

table caption {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

textarea {
  /* Don't let the <textarea> extend off the screen naturally or when dragged by the user */
  max-width: 100%;
}

ol,
ul {
  /* Replace the browser default padding */
  padding-left: 2rem;
}

li {
  margin-top: 0.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

mark {
  padding: 3px 6px;
  color: var(--nc-ac-tx);
  background: var(--nc-ac-1);
}

textarea,
select,
input {
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  padding: 6px 12px;
  color: var(--nc-tx-2);
  background: var(--nc-bg-2);
  border: 1px solid var(--nc-bg-3);
  box-shadow: none;
}

img {
  max-width: 100%;
}

.columnList {
  columns: 2;
}

@media only screen and (min-width: 768px) {
  .columnList {
    columns: 3;
  }
}

.ul-p-cont p {
  margin-top: var(--lineHeight);
  margin-bottom: calc(var(--lineHeight) / 2);
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
}
