.id--container {
  display: none;
}

@media print {
  /* All your print styles go here */

  *,
  a {
    color: #000;
  }

  footer,
  h1,
  nav {
    display: none !important;
  }

  h3 {
    margin-top: 0 !important;
    margin-bottom: 15px !important;
    padding-bottom: 10px;
    font-weight: 900;
    font-size: 20px !important;
    line-height: 1 !important;
    text-transform: uppercase !important;
    border-bottom: 3px solid;
  }

  h4 {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
    font-size: 16px !important;
    line-height: 1.25 !important;
  }

  li {
    margin-bottom: 0 !important;
    font-weight: 500;
    font-size: 12px !important;
    line-height: 1.25 !important;
  }

  p {
    margin-bottom: 16px !important;
    font-weight: 500;
    font-size: 12px !important;
    line-height: 1.35 !important;
  }

  .columnList {
    margin-bottom: 20px;
    columns: 4;
  }

  ul {
    margin-bottom: 20px;
  }

  h1 {
    break-before: right;
  }

  document {
    display: block;
    page-break-before: right;
  }

  main {
    margin-right: 50mm;
  }

  @page {
    position: relative;
    width: 8.5in;
    height: 11in;

    /* this affects the margin in the printer settings */

    margin-left: 0;
  }

  .id--container {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 1.25in;
  }

  .id--container .phone,
  .id--container .email a,
  .id--container .email,
  .id--container .address {
    font-weight: 500;
    font-size: 12px !important;
    line-height: 1.35 !important;
    text-align: right;
  }

  .id--container .name {
    font-weight: 700;
    font-size: 14px !important;
    line-height: 1.25 !important;
    text-align: right;
    text-transform: uppercase;
  }
}
