@media print {
  /* All your print styles go here */
  footer,
  h1,
  nav {
    display: none !important;
  }

  h3 {
    font-size: 18px !important;
    margin-bottom: 10px !important;
  }

  h4 {
    font-size: 14px !important;
    line-height: 1.25 !important;
    margin-top: 15px !important;
    margin-bottom: 10px !important;
  }

  li {
    font-size: 12px !important;
    line-height: 1.25 !important;
    margin-bottom: 0.5em !important;
  }
}
