.imgInnerContainer {
  position: relative;
  width: 100%;
  height: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding-bottom: 50%;
  overflow: hidden;
}

.imgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  inset: 0;
}

.innerContentContainer {
  width: 100%;
  max-width: max(5vw, 768px);
}
